
/* General styling */
body {
    font-family: 'Arial', sans-serif;
    background: rgb(1, 59, 77);
    color: #ADEFD1FF;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 3em;
    color: #FFCB42;
    text-shadow: 2px 2px 5px #FF5733;
  }
  
  p {
    font-size: 1.5em;
  }
  
  /* Christmas Tree Emoji Styling */
  #tree {
    font-size: 100px; /* Make the emoji large */
    margin: 20px 0;
  }
  
  /* Photo Section */
  .photo-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .photo-container {
    width: 200px;
    height: 200px;
    border: 2px solid #FFCB42;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Button styling */
  button {
    background-color: #FF5733;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 40px;
  }
  
  button:hover {
    background-color: #C70039;
  }
  


  *{
    margin: 0;
    padding: 0;
  }